/* Estilo base */
body {
    margin: 0;
    padding: 0;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: xx-large;
    background-image: url('../public/images/background.jpg');
    color: white;
}



.message-container {
    background-color: #fff;
    max-width: 600px; /* Ajusta el ancho máximo según tus necesidades */
    margin: 0 auto;   /* Márgenes automáticos para centrar horizontalmente */
    padding: 1rem;    /* Espaciado interno opcional */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    opacity: 20%;
    border-radius: 10px;
    line-height: 1.6;
    font-size: 16px;
    color:black;
    text-align: center; /* Centrar el texto dentro del div */
}

.title {
    color: #ff69b4;
    font-size: 30px;
    margin-bottom: 20px;
}

/* Contenedor general */
.container {
    width: calc(100% - 60px); /* Restamos 30px de margen en cada lado */
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

/* Estilo para cada elemento favorito */
.favorite-item {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image-container {
    width: 100%;
    max-width: 100%; /* Asegura que las imágenes ocupen todo el ancho en móviles */
    height: auto;
    margin-bottom: 20px;
}

.image {
    width: 100%;
    height: auto; 
    object-fit: cover;
    opacity: 0.9;
    border-radius: 15px;
}

/* Optimización para dispositivos móviles */
@media (max-width: 768px) {
    .container {
        width: calc(100% - 30px); /* Reducción menor de margen en móviles */
    }

    .image-container {
        width: 100%; /* La imagen ocupa toda la pantalla en móviles */
        height: auto;
    }

    .image {
        width: 100%; /* Imagen ajustada para pantallas pequeñas */
    }

    .favorite-item {
        margin-bottom: 50px; /* Mayor separación en móviles */
    }

    p {
        font-size: 16px; /* Tamaño de texto más grande para móviles */
    }
}

/* Estilos para el carrusel */
.glide {
    max-width: 100%;
}

.glide__slide img {
    width: 100%;
    height: auto;
    object-fit: fill;
    border-radius: 15px;
}

.glide__slide p {
    color: white;
    margin-top: 10px;
    text-align: center;
}

/* Botones del carrusel */
.glide__arrows {
    display: flex;
    justify-content: space-between;
}
